* {
  border: 0 !important;
}
html {
  scroll-behavior: smooth;
}
section {
  padding: 100px 0;
  min-height: 100vh;
}
#home {
  background-color: black;
}
#products {
  background-color: black;
}
#about-us {
  background-color: black;
}
#contact-us {
  background-color: black;
}
.title-header {
  background-color: #9BC1BC;
  padding: 10px;
  border-radius: 50px;
  margin: 10 auto;
  list-style-position: inside;
}
.navbar-brand,
.nav-link {
  color: white !important;
}
/* initial (hidden) state */
.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 600ms ease-out, transform 600ms ease-out;
  will-change: opacity, transform;
}

/* visible state (when scrolled into view) */
.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

.shadow-hover:hover {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .25) !important;
  /* transform: scale(1.05) !important; */
  transition: 0.3s ease !important;
}


.btn-logout {
  background-color: #ff4d4d;       /* Red background */
  color: white;                     /* White text */
  border: none;                     /* Remove default border */
  padding: 10px 20px;               /* Padding */
  font-size: 16px;                  /* Font size */
  border-radius: 8px;               /* Rounded corners */
  cursor: pointer;                  /* Pointer on hover */
  transition: background-color 0.3s, transform 0.2s; /* Smooth effect */
}

.btn-logout:hover {
  background-color: #e60000;        /* Darker red on hover */
  transform: scale(1.05);           /* Slight zoom effect */
}

#search-bar {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

