body {
  scroll-behavior: smooth;
}

#home img {
  max-height: 150px;
}

#productList .card img {
  max-height: 200px;
  object-fit: contain;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  position: relative;
  height: 0;
}

.map-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.card-img-top {
  height: 200px;
  object-fit: contain;
}

#brandCarousel .carousel-inner img {
  max-width: 90%;
  max-height: 400px;
  object-fit: contain;
  margin: auto;
}
.brand-card img {
  transition: all 0.3s ease;
  border: 3px solid #fff;
}
.brand-card:hover img {
  transform: scale(1.15);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

